.btn {
  padding: 0.4rem 1.5rem;
  border-radius: 2rem;
  background-color: var(--color-white);
  color: var(--color-white);
  font-size: 1rem;
  border: none;
  cursor: pointer;
  letter-spacing: 1px;
  position: relative;
}

.btn__span {
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn__span:last-child {
  position: absolute;
  top: 100%;
  color: var(--color-white);
  opacity: 0;
  transition: all 0.2s;
}
.btn:hover .btn__span:last-child {
  top: 50%;
  opacity: 1;
}
.btn:hover .btn__span:first-child {
  opacity: 0;
}

.btn--login {
  color: var(--color-white);
  background-color: inherit;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.btn--success {
  background-color: var(--color-secondary-opacity--1);
  padding: 0.4rem 2rem;
  letter-spacing: 1px;
}
.btn--pink {
  background-color: var(--color-tertiary-opacity);
  padding: 0.8rem 2.5rem;
}
.btn--green {
  background-color: var(--color-secondary-opacity--1);
  padding: 0.8rem 2.5rem;
}
.btn--blue {
  background-color: var(--color-primary-opacity--1);
  padding: 0.8rem 2.5rem;
}
.btn--dark-green {
  background-color: var(--color-secondary);
  padding: 0.4rem 3rem;
}
.btn--dark-pink {
  background-color: var(--color-tertiary);
  padding: 0.4rem 3rem;
}
